{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <!-- LOAD THE SIDEBAR HERE -->
        {% include 'dashboard/sidebar.html' %}
        <!-- LOAD THE SIDEBAR HERE END -->

        <!-- RIGHT SIDE CONTENT -->
        <div class="col-md-9">
            {% if perms.auth.change_user %}
                <h2>Edit User</h2>
                <form action="{% url 'edit_user' user.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
                <br>
            {% else %}
                <h5>You do not have permission to view this page.</h5>
            {% endif %}
        </div>
    </div>
    <!-- RIGHT SIDE CONTENT END -->
{% endblock content %}